doctype html
html
	include includes
	head
		if title
			title= title
		//- +sheets('/bootstrap/css')
		//- +sheets('/holo/holo.css')
		+sheets('/overhang/dist/overhang.min.css')
		//- != css('style')
		//- != js('')
		+scripts('/vendor/jquery-2.2.3.min.js')

		block neck
	body
		#login.content.cloaked.well
			.grab
			include login
				
		#signup.content.cloaked.well
			include account
		//- #home.content
		//- 	include account
			
		//- jqui for everhang
		
		block content
			
		//- +scripts('//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js')
		+scripts('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' 
			, '/vendor/jquery.form.min.js'
			, '/overhang/dist/overhang.min.js'
			, '/howler/dist/howler.min.js')
		//- , '/vendor/bootstrap.min.js'

		!= js('emailValidator','loginValidator','accountValidator')
		!= js('loginController','signupController')
		!= js('index','login','signup')


		//- if load
			//- script loadPage('#{load}');
