include ../../../../partials/util

#login.center-vertical
	form.well(id='form-login', method='post')
		h2 Hello!
		h6 Please Login To Your Account
		.form-group
			label Username
			input.form-control(type='text', id='user-tf', name='user')
		.form-group
			label Password
			input.form-control(type='password', id='pass-tf', name='pass')
		.controls
			button(type='button').btn.btn-default.button-rememember-me
				span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
				| Remember Me
			button(type='submit').btn.btn-primary.button-sign-in
				span.glyphicon.glyphicon-lock
				| Sign In
		.clearfix
		hr
		.btm-links
			#forgot-password
				a(href='#') Forgot Your Password?
			#create-account
				//-script
					:coffee-script(bare=true)
						createAccount = ->
							getScripts [
								'/js/controllers/signupController.js'
								'/js/form-validators/accountValidator.js'
							], ->
								$.get '/signup', (data) ->
									# console.log data
									$('#content').html data
									getScripts ['/assets/signup.js']
				a(href="javascript:void(0);" onclick="loadContent(['/js/controllers/signupController.js','/js/form-validators/accountValidator.js'],'/signup');") Create An Account
		.clearfix

include modals/alert
include modals/lost-password

+scripts('/js/controllers/loginController.js'
	, '/js/form-validators/loginValidator.js'
	, '/js/form-validators/emailValidator.js')
!= js('login')
