
@import 'normalize'
@import 'nib'

hsb($h-hsb, $s-hsb, $b-hsb, $a = 1)
  if $b-hsb == 0
    return hsla(0, 0, 0, $a)
  else
    $l-hsl = ($b-hsb / 2) * (2 - ($s-hsb / 100))
    $s-hsl = ($b-hsb * $s-hsb) / ($l-hsl < 50 ? $l-hsl * 2 : 200 - $l-hsl * 2)
    return hsla($h-hsb, $s-hsl, $l-hsl, $a)

numberOfItems = 5
GRAY(percent = 7, alpha = 10)
	hsb(0,0,((10-percent)*10),(alpha/10))

dark = lighten(black,20)
// hsla(0, 0%, 0%, .75)
// blackish = #1a1a1a
menusHeight = 10vh
navHeight = 80vh

no-pad()
	padding 0
	margin 0

flex-center()
	align-items center
	justify-content center

scaleToFit()
	&
		max-width 100%
		margin auto
		../../
			display flex

animate(exaggerate = 1)
	transition all 0.5s cubic-bezier(.175,.885,.32,exaggerate)

.logo, .nav__link
	background dark


.logo
	fixed top right
	size (2 * menusHeight) menusHeight
	z-index 1000
	img
		scaleToFit()
ul
	list-style-type none
	no-pad()


.nav, #nav-zone
	fixed top left
	z-index 1
	size menusHeight
	backface-visibility hidden

#nav-zone
	background green
	height navHeight

.nav__list
	display flex 					/* nav is a flex box */
	flex-flow column wrap /* stackelements vertically, wrapped */
	height navHeight
	transform translate(0,-100%)
	animate()
	&.active
		transform translate(0,0)


.nav__item
	size 100%
	flex 1
	position relative


.nav__link
	display flex
	flex-center()
	absolute top left
	size 100%
	text-decoration none
	font-size 24px
	animate()
	transition box-shadow 1s
	&:hover
		background darken(dark,30)
		box-shadow 0px -3px 0px @color inset
		// box-shadow:inset 0px 0px 0px 10px #f00
		// border-bottom 10px solid white

.panel
	min-height 100vh
	display flex
	flex-center()
	overflow hidden
	p
		margin 0 0 25px 0
		color blackish
		font-size 24px
		// max-width 800px
		&:last-child
			margin-bottom 10vh

.panel__wrapper
	padding 7vh 7vw
	perspective 1000px

.panel__content
	opacity 0
	margin-left 20vw // left margin
	will-change transform
	transform scale(0.7) rotateX(-230deg)
	transform-origin center 80%
	animate(1.275)
	&.active
		transform none
		opacity 1

// .panel__content--active
// 	transform none
// 	opacity 1

.panel__headline
	font-weight 700
	opacity 0.8
	font-size 48px
	margin 0 0 25px 0

.panel__block
	height 3px
	background rgba(0, 0, 0, 0.2)
	margin 0 0 25px 0

@media (max-width: 640px)
	.nav
		width 70px
	.nav__list
		height 90vh

	.panel__headline
		font-size 36px
	.panel__wrapper
		padding 10vh 10vw
	.panel
		p
			font-size 16px

body
	font-family 'Lato'
	line-height 1.5
	font-smoothing antialiased


hamburger()
	.burger
		height menusHeight
		position relative
		display flex
		flex-center()
		z-index 2
		background dark
		cursor pointer
		animate()
		&:hover
			background lighten(@background,40)

	patty_part(beforeNegAfterPos = -1)
		content ""
		position absolute
		size 100%
		background white
		top (beforeNegAfterPos * 10)px

	.burger__patty
		position relative
		size 60% 2px
		background white
		&:before
			patty_part()
		&:after
			patty_part(1)

	.burger__patty
	.burger__patty:before
	.burger__patty:after
		will-change transform
		animate(1.2)

	pattyArrowAnimaton()
		&
			transform rotate(90deg)
			&:before
				transform rotate(-45deg) translate(-7px, -7px) scaleX(0.7)
			&:after
				transform rotate(45deg) translate(-7px, 7px) scaleX(0.7)

	.burger--active
		.burger__patty
			pattyArrowAnimaton()

	@media (max-width: 640px)
		.burger
			height menusHeight
		.burger__patty
			transform scale(0.8)
		.burger--active
			.burger__patty
				transform scale(0.8) rotate(90deg)

hamburger()

/*
.c-blue {
	color: #5fc7ea; }

.c-red {
	color: #e68568; }

.c-green {
	color: #68e6ac; }

.c-yellow {
	color: #e6d068; }

.b-blue {
	background: #5fc7ea; }

.b-red {
	background: #e68568; }

.b-green {
	background: #68e6ac; }

.b-yellow {
	background: #e6d068; }

.logo {
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	z-index: 2; }
	.logo img {
		width: 65px;
		transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: rotate(0); }
		.logo img:hover {
			transform: rotate(180deg) scale(1.1); }
*/
/*

.max-size
	size 100% 100%

$nav-bg = #2b3033

colors = {
	blue: #5fc7ea
	red: #e68568
	yellow: #e6d068
	green: #68e6ac
}
for key, value in colors
	.c-{key}
		color: value
	.b-{key}
		background: value

$ease = all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
$content-animation = scale(0.7) rotateX(-230deg)

*
	box-sizing: border-box
body
	font-family: 'Lato'
	line-height: 1.5
	font-smoothing: antialiased
ul
	list-style-type: none
	padding: 0
	margin: 0
.nav
	position: fixed
	z-index: 1
	top: 0
	left: 0
	width: 10%
	backface-visibility: hidden
	&__list
		display: flex
		flex-flow: column wrap
		height: 85vh
		transform: translate(0, -100%)
		transition: $ease
		&--active
			transform: translate(0, 0)
	&__item
		flex: 1
		position: relative
	&__link
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		width: 100%
		height: 100%
		// size: 100% 100%
		top: 0
		left: 0
		text-decoration: none
		font-size: 24px
		background: $nav-bg
		transition: $ease
		&:hover
			background: mix(black, $nav-bg, 10)
	@media (max-width: 640px)
		width: 70px
		&__list
			height: 90vh
.burger
	height: 15vh
	position: relative
	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	background: $nav-bg
	cursor: pointer
	transition: $ease
	&:hover
		background: mix(black, $nav-bg, 10)
	&__patty
		position: relative
		height: 2px
		width: 40px
		background: white
		&:before
			content: ""
			position: absolute
			top: -10px
			left: 0
			height: 2px
			width: 100%
			background: white
		&:after
			content: ""
			position: absolute
			top: 10px
			left: 0
			height: 2px
			width: 100%
			background: white
	&__patty,
	&__patty:before,
	&__patty:after
		will-change: transform
		transition: $ease
	&--active
		.burger__patty
			transform: rotate(90deg)
			&:before
				transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7)
			&:after
				transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7)
	@media (max-width: 640px)
		height: 10vh
		&__patty
			transform: scale(0.8)
		&--active
			.burger__patty
				transform: scale(0.8) rotate(90deg)

/ * each "page" * /
.panel
	min-height: 100vh // !important
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	&__wrapper
		padding: 7vh 7vw
		perspective: 1000px
	&__content
		will-change: transform
		transform: $content-animation
		transform-origin: center 80%
		opacity: 0
		transition: $ease
		&--active
			transform: none
			opacity: 1
	&__headline
		font-weight: 700
		opacity: 0.8
		font-size: 48px
		margin: 0 0 25px 0
	p
		margin: 0 0 25px 0
		color: lighten(black, 10)
		font-size: 24px
		max-width: 800px
		&:last-child
			margin-bottom: 0
	&__block
		height: 3px
		background: rgba(black, 0.2)
		margin: 0 0 25px 0
	@media (max-width: 640px)
		&__headline
			font-size: 36px
		&__wrapper
			padding: 10vh 10vw
		p
			font-size: 16px

// .c-blue
//   color: $blue
// .c-red
//   color: $red
// .c-green
//   color: $green
// .c-yellow
//   color: $yellow
// .b-blue
//   background: $blue
// .b-red
//   background: $red
// .b-green
//   background: $green
// .b-yellow
//   background: $yellow

// .logo
//   position: fixed
//   bottom: 3vh
//   right: 3vw
//   z-index: 2
//   img
//     width: 65px
//     transition: $ease
//     transform: rotate(0)
//     &:hover
//       transform: rotate(180deg) scale(1.1)

// $blue =
// $red = #e68568
// $yellow = #e6d068
// $green = #68e6ac
//

*/
/*
.c-blue {
	color: #5fc7ea; }

.c-red {
	color: #e68568; }

.c-green {
	color: #68e6ac; }

.c-yellow {
	color: #e6d068; }

.b-blue {
	background: #5fc7ea; }

.b-red {
	background: #e68568; }

.b-green {
	background: #68e6ac; }

.b-yellow {
	background: #e6d068; }

.logo {
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	z-index: 2; }
	.logo img {
		width: 65px;
		transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: rotate(0); }
		.logo img:hover {
			transform: rotate(180deg) scale(1.1); }
*/
/*

.max-size
	size 100% 100%

$nav-bg = #2b3033

colors = {
	blue: #5fc7ea
	red: #e68568
	yellow: #e6d068
	green: #68e6ac
}
for key, value in colors
	.c-{key}
		color: value
	.b-{key}
		background: value

$ease = all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
$content-animation = scale(0.7) rotateX(-230deg)

*
	box-sizing: border-box
body
	font-family: 'Lato'
	line-height: 1.5
	font-smoothing: antialiased
ul
	list-style-type: none
	padding: 0
	margin: 0
.nav
	position: fixed
	z-index: 1
	top: 0
	left: 0
	width: 10%
	backface-visibility: hidden
	&__list
		display: flex
		flex-flow: column wrap
		height: 85vh
		transform: translate(0, -100%)
		transition: $ease
		&--active
			transform: translate(0, 0)
	&__item
		flex: 1
		position: relative
	&__link
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		width: 100%
		height: 100%
		// size: 100% 100%
		top: 0
		left: 0
		text-decoration: none
		font-size: 24px
		background: $nav-bg
		transition: $ease
		&:hover
			background: mix(black, $nav-bg, 10)
	@media (max-width: 640px)
		width: 70px
		&__list
			height: 90vh
.burger
	height: 15vh
	position: relative
	display: flex
	justify-content: center
	align-items: center
	z-index: 2
	background: $nav-bg
	cursor: pointer
	transition: $ease
	&:hover
		background: mix(black, $nav-bg, 10)
	&__patty
		position: relative
		height: 2px
		width: 40px
		background: white
		&:before
			content: ""
			position: absolute
			top: -10px
			left: 0
			height: 2px
			width: 100%
			background: white
		&:after
			content: ""
			position: absolute
			top: 10px
			left: 0
			height: 2px
			width: 100%
			background: white
	&__patty,
	&__patty:before,
	&__patty:after
		will-change: transform
		transition: $ease
	&--active
		.burger__patty
			transform: rotate(90deg)
			&:before
				transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7)
			&:after
				transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7)
	@media (max-width: 640px)
		height: 10vh
		&__patty
			transform: scale(0.8)
		&--active
			.burger__patty
				transform: scale(0.8) rotate(90deg)

/ * each "page" * /
.panel
	min-height: 100vh // !important
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	&__wrapper
		padding: 7vh 7vw
		perspective: 1000px
	&__content
		will-change: transform
		transform: $content-animation
		transform-origin: center 80%
		opacity: 0
		transition: $ease
		&--active
			transform: none
			opacity: 1
	&__headline
		font-weight: 700
		opacity: 0.8
		font-size: 48px
		margin: 0 0 25px 0
	p
		margin: 0 0 25px 0
		color: lighten(black, 10)
		font-size: 24px
		max-width: 800px
		&:last-child
			margin-bottom: 0
	&__block
		height: 3px
		background: rgba(black, 0.2)
		margin: 0 0 25px 0
	@media (max-width: 640px)
		&__headline
			font-size: 36px
		&__wrapper
			padding: 10vh 10vw
		p
			font-size: 16px

// .c-blue
//   color: $blue
// .c-red
//   color: $red
// .c-green
//   color: $green
// .c-yellow
//   color: $yellow
// .b-blue
//   background: $blue
// .b-red
//   background: $red
// .b-green
//   background: $green
// .b-yellow
//   background: $yellow

// .logo
//   position: fixed
//   bottom: 3vh
//   right: 3vw
//   z-index: 2
//   img
//     width: 65px
//     transition: $ease
//     transform: rotate(0)
//     &:hover
//       transform: rotate(180deg) scale(1.1)

// $blue =
// $red = #e68568
// $yellow = #e6d068
// $green = #68e6ac
//

*/



// colors = {
// 	blue: 	#5fc7ea
// 	red: 		#e68568
// 	yellow: #e6d068
// 	green: 	#68e6ac
// }

// for key, value in colors
// 	.c-{key}
// 		color: value
// 	.b-{key}
// 		background: value


	// top 5 vh
	// background-size cover
	// background-position center
	// background-repeat no-repeat

		// width 100%
		// size= s
		// max-height auto
		// flex-center()
		// width 100%
		// max-height 9vh
// box-sizing border-box

	// align-items flex-start
